/* From mobile-l size (425) and more */
@include breakpoint-up(mobile-l) {  
  header {
    padding: 2rem 0;
  }
  .hero__heading{
    padding-right: 3rem;
  }
}
/* From mobile-l size (1024) and more */
@include breakpoint-up(laptop-s) {
  //HEADER
  header{
    padding: 2rem 0 3rem 0;
  }
  .logo__img {
    height: 2.5rem;
  }
  //NAVIGATION
  #main__nav {
    display: flex;

    img {
      height: 3rem;
    }
    #hamburgerToggle{
      display: none;
    }
    .nav__list {
      display: flex;
      //reset of mobile settings
      flex-direction: initial;
      position: initial;
      right: initial;
      z-index: initial;
      width: initial;
      border: none;
      border-radius: initial;
      background: initial;
    }
    .nav__item {
      margin: 0.5rem 0;
      padding: 0.75rem 1rem;
      border-radius: $border-radius;

      &:hover {
        background: $clr-primary;
        transition: background-color 300ms;
      }    
    }
    .side__nav {
      display: none;
    }
  }

  //HERO SECTION
  .hero{
    position: relative;
    padding: 0;   
    
    &__heading,
    &__text,
    &__img {
      position: absolute;
    }
  }
  .hero__img__container{
    margin: 0;
  }
  .hero__img {
    min-height: 100%;
    width: calc((100% / 12) * 7 - 0.01px);
    margin-left: calc((100% / 12) * 5 - 0.01px);
    object-fit: cover;        
  }
  .hero__section {
    position: relative;
    box-shadow: 0 0.11rem 0.44rem 0.11rem $clr-box-shadow;
    background-color: $clr-primary-bg;    
    height: 40rem;
    border-radius: $border-radius;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .hero__heading {
    position: absolute;
    top: 4rem;
    padding: 0 5rem;
    width: calc((100% / 12) * 10 - 0.01px);
  }
  .hero__text {
    position: absolute;
    top: 23rem;
    width: calc((100% / 12) * 5 - 0.01px);
    padding: 0 2rem 0 5rem;
    margin: 1rem 0;
  }
  .hero__heading,
  .hero__text {
    z-index: 1;
    padding-left: 3rem;
  }
}

/*Laptop = 1280px or more*/
@include breakpoint-up(laptop-m) {
  //HEADER
  .logo__img {
    height: 3rem;
  }
  //NAVIGATION
  header {
    padding: 3rem 5rem 4rem 5rem;
  }
  //HERO SECTION
  .hero {
    padding: 0 5rem;
    position: relative;
  }
}