/* FONT PARAMs */
$font-default: "DM Sans", Arial, Helvetica, sans-serif;

/* Global */
html {
  font-family: $font-default;
  font-size: 1rem;
  font-weight: 300;
}
abbr[title] {
  text-decoration: none;
}

/* MAIN PAGE SECTION */
//NAVIGATION
.side__nav {
  #hamburgerToggle {
    color: $clr-secondary;
    background: $clr-primary;
    transition: all 200ms ease ;
  }
  .nav__list {
    font-size: 1rem;
  }
  .nav__item:hover{
    cursor: pointer;

    .nav__link {
      color: $clr-secondary;
      text-decoration: underline;
    }
  }
  .nav__link {
    color: $clr-nav-font;
    text-decoration: none;
  }
}
#hamburgerToggle {
  font-size: 1.5rem;
  color: $clr-primary;
}
//HERO SECTION
.hero__heading {
  font-size: 2rem;
  font-weight: 600;
}
.hero__text {
  font-size: 0.8rem;
  line-height: 1.5;
}
.hero__heading,
.hero__text {
  color: $clr-nav-font;
}
.cta {
  color: $clr-secondary;
  font-size: 0.8rem;
}
//FOOTER
.copyrights {
  font-size: 0.6rem;
}

/* MODAL SECTION */
.modal__view {
  color: $clr-secondary;
}
.error__field{
  color : $clr-primary-bg;
  font-size: small;
}
.error__text{
  color : $clr-error;
}
// Radio btn
.checkbox__label,
.checkbox2__label {
  font-size: 1rem;
}
.checkbox__label .checkbox__icon,
.checkbox2__label .checkbox__icon {
  text-indent: 1.6rem;
  white-space: nowrap;
}
/* RESPONSIVE */
/* From mobile-l size (425) and more */
@include breakpoint-up (mobile-l) {
  //HERO SECION
  .hero__heading {
    font-size: 8vw;
    font-weight: 300;
  }
  .hero__text{
    font-size: 1.2rem;
  }
}
/* From tablet size (640) and more */
@include breakpoint-up (tablet-s) {
  //HERO SECION
  .hero__heading {
    font-size: 3rem;
    font-weight: 500;
  }
  .hero__text{
    font-size: 1.2rem;
  }
  .cta {
    font-size: 1rem;
  }
}
/* From laptop size (1024) and more */
@include breakpoint-up(laptop-s) {
  //NAVIGATION
  .nav__item:hover {
    cursor: pointer;

    .nav__link {
      color: $clr-secondary;
      text-decoration: underline;
    }
  }
  .nav__link {
    font-size: 1.3rem;
    color: $clr-nav-font;
    text-decoration: none;
  }
  //HERO SECTION
  .hero__heading {
    font-size: 5rem;
    font-weight: 700;
  }
  
  .hero__heading,
  .hero__text {
    color: $clr-secondary;
  }
  .cta {
    font-size: 1.4rem;
  }
  //FOOTER
  .copyrights {
    font-size: initial;
  }
}

/* From laptop size (1280) and more */
@include breakpoint-up(laptop-l) {
  //HERO
  .hero__text {
    font-size: 1.4rem;
  }
}