/* FONT PARAMs */
$font-default: "DM Sans", Arial, Helvetica, sans-serif;

html {
  font-family: $font-default;
  font-size: 1rem;
  font-weight: 300;
}
abbr[title] {
  text-decoration: none;
}

/* MAIN PAGE SECTION */
//Navbar
.side__nav {
  .nav__list {
    font-size: 1rem;
  }
  .nav__item:hover{
    cursor: pointer;

    .nav__link {
      color: $clr-secondary;
      text-decoration: underline;
    }
  }
  .nav__link {
    color: $clr-nav-font;
    text-decoration: none;
  }
}
#hamburgerToggle {
  color: $clr-primary;
  font-size: 1rem;
  transition: all 150ms;
}
// Hero
.hero__heading {
  //valeur précédente pour la taille Desk
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
}
.hero__text {
  font-size: 0.8rem;
  line-height: 1.5;
}
.hero__heading,
.hero__text {
  //valeur précédente pour la taille Desk
  //z-index: 1;
  //color: $clr-secondary;
  color: $clr-nav-font;
}
// Footer
.footer {
  font-family: $font-default;
  font-size: 0.8rem;
}
.copyrights {
  font-size: 0.6rem;
}

/* MODAL SECTION */
.modal__view {
  color: $clr-secondary;
}
.error__field{
  color : $clr-primary-bg;
  font-size: small;
}
.error__text{
  color : $clr-error;
}
// Radio btn
.checkbox__label,
.checkbox2__label {
  font-size: 1rem;
}
.checkbox__label .checkbox__icon,
.checkbox2__label .checkbox__icon {
  text-indent: 1.6rem;
  white-space: nowrap;
}

/* TOOLS */
// Buttons
.cta {
  color: $clr-secondary;
  //valeur précédente pour la taille Desk
  //font-size: 1.3rem;
  font-size: 0.8rem;
}
