/*---REFACTORISER LES BUTTONS---*/

.btn-signup {
  outline: none;
  text-transform: capitalize;
  padding: 0.83rem 23px;
  margin: 0;
  margin-top: 59px;
}
.btn-submit,
.btn-signup {
  background: #fe142f;
  display: block;
  margin: 0 auto;
  padding: 12px 82px;
  border-radius: 0.44rem;
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
  border: 0;
}
.button {
  background: #fe142f;
  margin-top: 0.5rem;
  padding: 1rem;
  color: #fff;
  border-radius: 0.83rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.button:hover {
  background: #3876ac;
}
.modal-btn {
  font-size: 1.3rem;
  background: #fe142f;
  display: flex;
  margin: auto;
  padding: 2em;
  color: #fff;
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.modal-btn:hover {
  background: #3876ac;
}

/* How to build the cross which close modal */
.close-btn:before,
.close-btn:after {
  position: absolute;
  left: 0.83rem;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.close-btn:before {
  transform: rotate(45deg);
}
.close-btn:after {
  transform: rotate(-45deg);
}
.close-btn {
  position: absolute;
  right: 0.83rem;
  top: 0.83rem;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}