:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.6s;
}

.hidden {
  font-weight: 300;
  margin: 30px auto 40px;
  padding: 30px;
  background: white;
  color: black;
  width: 400px;
  opacity: 1;
  transition: all 300ms cubic-bezier(0.335, 0.01, 0.03, 1.36);
  position: relative;
  top: -15px;
}

.hide {
  animation: slideup 2s;
  -moz-animation: slideup 2s;
  -webkit-animation: slideup 2s;
  -o-animation: slideup 2s;
}

@keyframes slideup {
  0% {
    top: 0px;
  }
  75% {
    top: 0px;
  }
  100% {
    top: -20px;
  }
}

/*---REFACTORISER LES BUTTONS---*/
.btn-signup {
  outline: none;
  text-transform: capitalize;
  padding: 0.83rem 23px;
  margin: 0;
  margin-top: 59px;
}

.btn-submit,
.btn-signup {
  background: #fe142f;
  display: block;
  margin: 0 auto;
  padding: 12px 82px;
  border-radius: 0.44rem;
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.button {
  background: #fe142f;
  margin-top: 0.5rem;
  padding: 1rem;
  color: #fff;
  border-radius: 0.83rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.button:hover {
  background: #3876ac;
}

.modal-btn {
  font-size: 1.3rem;
  background: #fe142f;
  display: flex;
  margin: auto;
  padding: 2em;
  color: #fff;
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.modal-btn:hover {
  background: #3876ac;
}

/* How to build the cross which close modal */
.close-btn:before,
.close-btn:after {
  position: absolute;
  left: 0.83rem;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close-btn:before {
  transform: rotate(45deg);
}

.close-btn:after {
  transform: rotate(-45deg);
}

.close-btn {
  position: absolute;
  right: 0.83rem;
  top: 0.83rem;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.modal-bg {
  transform: translateY(-100vh);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

/* Pour open la modal */
.is-open {
  animation: modalopen var(--modal-duration) forwards, bground var(--modal-duration) 450ms forwards;
}

/* Pour close la modal */
.is-close {
  animation: modalclose var(--modal-duration);
}

.modal-view {
  max-width: 70vw;
  margin: 5% auto;
  width: 100%;
  background: #232323;
  border-radius: 0.55rem;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 0.55rem;
}

@media screen and (max-width: 800px) {
  .modal-view {
    max-width: 85vw;
  }
}

.modal-body {
  padding: 0.83rem 8%;
  margin: 0.83rem auto;
}

fieldset {
  border: none;
}

label {
  font-family: var(--font-default);
  font-size: 0.9rem;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 0.55rem;
}

.text-control {
  font-size: 1rem;
  width: 100%;
  height: 2.6rem;
  border: 0.044rem solid #ccc;
  border-radius: 0.44rem;
  outline: none;
}

.error-border {
  border: 0.2rem solid #ff4d5e;
}

.error-text {
  color: #ff4d5e;
}

ul#checkbox-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

ul#checkbox-list li {
  display: inline;
}

.text-label {
  margin-top: 0;
  font-weight: normal;
  font-size: 0.9rem;
}

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: normal;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 1.1rem;
  height: 1.1rem;
  border: 0.11rem solid #279e7a;
  border-radius: 50%;
  text-indent: 1.6rem;
  white-space: nowrap;
  position: absolute;
  left: -1.66rem;
  top: -1px;
  transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 1.6rem;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}

.checkbox2-label .checkbox-icon {
  border-radius: 0.22rem;
  border: 0;
  background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
  width: 0.44rem;
  height: 0.22rem;
  border-radius: 0.11rem;
  background: transparent;
  border: 0.11rem solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-100vh);
  }
  to {
    opacity: 1;
    transform: translateY(0vh);
  }
}

@keyframes modalclose {
  from {
    opacity: 1;
    transform: translateY(0vh);
  }
  to {
    opacity: 0;
    transform: translateY(-100vh);
  }
}

@keyframes bground {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(26, 39, 156, 0.4);
  }
}

.footer {
  margin: 1.1rem;
  padding: 0.55rem;
  font-family: var(--font-slab);
}

footer {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 1.1rem;
}

.copyrights {
  color: #fe142f;
  padding: 0;
  font-size: 1rem;
  margin: 60px 0 1.66rem;
  font-weight: bolder;
}

@media screen and (max-width: 800px) {
  .copyrights {
    margin-top: 50px;
    text-align: center;
  }
}

.topnav {
  overflow: hidden;
  margin: 3.5%;
}

.header-logo {
  float: left;
}

.main-navbar {
  float: right;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 0.67rem 0.67rem;
  margin: 0.275rem;
  text-decoration: none;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
}

.topnav a:hover {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 0.83rem;
}

.topnav a.active {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 0.83rem;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 540px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    margin-top: -0.83rem;
  }
}

.hero-section {
  min-height: 93vh;
  border-radius: 0.55rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-shadow: 0 0.11rem 0.44rem 0.11rem rgba(0, 0, 0, 0.2);
  margin-bottom: 0.55rem;
}

.hero-content {
  padding: 51px 67px;
  grid-column: span 4;
  background: #232323;
  color: #fff;
  position: relative;
  text-align: left;
  min-width: 23.5rem;
}

.hero-content::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #232323;
  position: absolute;
  right: -80px;
  top: 0;
}

.hero-content > * {
  position: relative;
  z-index: 1;
}

.hero-headline {
  font-size: 6rem;
  font-weight: normal;
  white-space: nowrap;
}

.hero-text {
  width: 146%;
  font-weight: normal;
  margin-top: 57px;
  padding: 0;
}

.hero-img {
  grid-column: span 8;
}

.hero-img img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
}

.hero-section > .btn-signup {
  display: none;
}

@media screen and (max-width: 800px) {
  .hero-section {
    display: block;
    box-shadow: unset;
  }
  .hero-content {
    background: #fff;
    color: #000;
    padding: 1.1rem;
  }
  .hero-content::after {
    content: unset;
  }
  .hero-content .btn-signup {
    display: none;
  }
  .hero-headline {
    font-size: 4.5rem;
    white-space: normal;
  }
  .hero-text {
    width: unset;
    font-size: 1.5rem;
  }
  .hero-img img {
    border-radius: 0.55rem;
    margin-top: 40px;
  }
  .hero-section > .btn-signup {
    display: block;
    margin: 32px auto 0.55rem;
    padding: 12px 35px;
  }
}

/* Landing Page */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* background-image: url("background.png"); (Image manquante et absence sur la maquette)*/
  font-family: var(--font-default);
  font-size: 1rem;
  max-width: 1300px;
  margin: 0 auto;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

img {
  padding-right: 1rem;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
/*# sourceMappingURL=main.css.map */