// footer {
//   padding-left: 2vw;
//   padding-right: 2vw;
//   margin: 0 3rem;
// }
.copyrights {
  color: $clr-primary;
  padding: 0;
  text-align: center;
  margin: 2rem 0 1rem;
  font-weight: 600;  
}