// footer {
//   padding-left: 2vw;
//   padding-right: 2vw;
//   margin: 0 3rem;
// }
.copyrights {
  color: $clr-primary;
  padding: 0;
  font-size: 1rem;
  margin: 4rem 0 1.66rem;
font-weight: 600;  
}