/* Landing Page */
.main-container {
  max-width: 88rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}

//   @media screen and (max-width: map-get($breakpoint-up, xlarge)) {
//     max-width: map-get($breakpoint-up, xlarge);
//     margin: 0 auto;
//     padding: 0 1.5rem;
//   }
// }