//Animation de l'écran loader avec le fondu
/*
@mixin animation_loader-display {
  animation: animation_loader-display
    map-get($anim_duration, animation_loader-display)
    map-get($anim_fct, animation_loader-display)
    map-get($anim_fill-mode, animation_loader-display);
}
@mixin keyframes_loader-display {
  @keyframes animation_loader-display {
    0% {
      visibility: visible;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
}
*/