// Cross which close modal
.close__btn:before,
.close__btn:after {
  position: absolute;
  left: 0.83rem;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: $clr-secondary;
}
.close__btn:before {
  transform: rotate(45deg);
}
.close__btn:after {
  transform: rotate(-45deg);
}
.close__btn {
  position: absolute;
  right: 0.83rem;
  top: 0.83rem;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.cta {
  min-width: 9rem;
  background: $clr-primary;
  margin: 0 auto;
  padding: .4rem 1.5rem;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;  
  
  &__wrapper{
    display: flex;
    justify-content: center;
    margin-block: 2rem 1rem;    
  }
}

//submit/close modal button placement
.signup:hover,
.close-form:hover {
  transition: background-color 300ms;
  background: $clr-hover-btn-bg;
}
//Submit btn
.submit{
  margin: 1.5rem auto 1rem auto;

  //Disabled submit button style
  &:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    transition: all 200ms ease-in-out;
  }
}
.cta__submit__wrapper,
.success__wrapper {
  text-align: center;
}

/* RESPONSIVE */
/* From mobile-l size (425) and more */
@include breakpoint-up(mobile-l) {
  .cta {
    min-width: 12rem;
    padding: .75rem 1.5rem;
  }
}
/* From laptop size (1024) and more */
@include breakpoint-up(laptop-s) {
  .cta__wrapper {
    position: absolute;
    display: initial;
    justify-content: initial;
    margin-block: initial;
    top: 33rem;
    left: 3rem;
  }
}

/* From laptop size (1280) and more */
@include breakpoint-up(laptop-m) {
  .cta__wrapper {
    left: 5rem;
  }
}