// Cross which close modal
.close__btn:before,
.close__btn:after {
  position: absolute;
  left: 0.83rem;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: $clr-secondary;
}
.close__btn:before {
  transform: rotate(45deg);
}
.close__btn:after {
  transform: rotate(-45deg);
}
.close__btn {
  position: absolute;
  right: 0.83rem;
  top: 0.83rem;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.cta {
  min-width: 12rem;
  background: $clr-primary;
  margin: 0 auto;
  padding: .75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  //valeur précédente pour la taille Desk
  // &__wrapper{
  //   position: absolute;
  //   top: 33rem;
  //   left: 5rem;  
  // }  
  &__wrapper{
    display: flex;
    justify-content: center;
    margin-block: 2rem 1rem;    
  }  
}

//submit/close modal button placement
.signup:hover,
.close-form:hover {
  transition: background-color 300ms;
  background: $clr-hover-btn-bg;
}

//Disabled submit button style
.submit:disabled {
  //filter: saturate(2.2);
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  transition: all 200ms ease-in-out;
}